.vs/
.vscode/
Headline_h5/obj/
Headline_h5/bin/
packages/
Headline_h5/Properties/PublishProfiles/
Common/
HeadLine.Business/bin/
HeadLine.Business/obj/
HeadLine.Common/bin/
HeadLine.Common/obj/
HeadLine.Data/bin/
HeadLine.Data/obj/
HeadLine.Entity/bin/
HeadLine.Entity/obj/
HeadLine.Model/bin/
HeadLine.Model/obj/
HeadLineUnitTest/bin/
HeadLineUnitTest/obj/




